/Guia2/nbproject/private/
/Guia2/build/
/Guia3/nbproject/private/
/Guia4/nbproject/private/
/Guia3/build/
/Guia4/build/
/Guia5/nbproject/private/
/Guia5/build/
/Guia7/nbproject/private/
/Guia7/build/
/Guia8/nbproject/private/
/Guia8/build/
/Guia02/nbproject/private/
/Guia03/nbproject/private/
/Guia04/nbproject/private/
/Guia05/nbproject/private/
/Guia07/nbproject/private/
/Guia08/nbproject/private/
/Guia08/build/
/Guia04/build/
/Guia09/nbproject/private/
/Guia09/build/
